<!DOCTYPE html>
<html>
  <head>
    <title>Tuist Stats</title>
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://stats.tuist.io">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Tuist Stats">
    <meta property="og:description" content="Every project generation is a possible merge conflict that didn't happen.">
    <meta property="og:image" content="https://stats.tuist.io/og-image.png">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="stats.tuist.io">
    <meta property="twitter:url" content="https://stats.tuist.io">
    <meta name="twitter:title" content="Tuist Stats">
    <meta name="twitter:description" content="Every project generation is a possible merge conflict that didn't happen.">
    <meta name="twitter:image" content="https://stats.tuist.io/og-image.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
