<!DOCTYPE html>
<html class="bg-gray-900">
  <head>
    <title>TuistCloud</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <!-- ViteJS -->
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= yield(:react_app) %>
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="https://app.getterms.io/cookie-consent/embed/085a5aaf-fbb7-47ec-ad97-9f03b3b8a989"></script>
  </body>
</html>
