<%= stylesheet_link_tag 'app' %>
<%= stylesheet_link_tag 'analytics_targets' %>

<nav>
  <ul>
    <li><%= svg('tuist_cloud_logo', class: "icon-medium") %><h1>Tuist Cloud</h1></li>
  </ul>
  <ul>
    <li><a href="/users/sign_out" data-method="delete" role="button">Sign out</a></li>
  </ul>
</nav>


<div class="targets">
  <header>
    Target's cache analytics
    <%= form_tag "", method: :get do %>
      <%= select_tag :date_range, options_for_select([
        ['Last 7 days', 'last_7_days'],
        ['Last 30 days', 'last_30_days'],
        ['Last 90 days', 'last_90_days'],
        ['Last year', 'last_year'],
      ], params[:date_range] || 'last_30_days'), onchange: 'this.form.submit();' %>
    <% end %>
  </header>
  <table>
    <thead>
      <tr>
        <th>
          <%= render_sort_button(label: "Name", category: "target") %>
        </th>
        <th>
          <%= render_sort_button(label: "Cache hit rate", category: "cache_hit_rate") %>
        </th>
        <th>
          <%= render_sort_button(label: "Hits", category: "hits") %>
        </th>
        <th>
          <%= render_sort_button(label: "Misses", category: "misses") %>
        </th>
        <th>
          <%= render_sort_button(label: "Total count", category: "total_count") %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% if @targets_cache_hit_rate.any? %>
        <% @targets_cache_hit_rate.each do |target| %>
          <tr>
            <td><%= target.target %></td>
            <td><%= target.cache_hit_rate * 100 %> %</td>
            <td><%= target.hits %></td>
            <td><%= target.misses %></td>
            <td><%= target.total_count %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5">No items found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
