<!DOCTYPE html>
<html>
  <head>
    <title>Galaxy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= component("navbar") %>
      <%= yield %>
    </div>
  </body>
</html>
