<!DOCTYPE html>
<html>
  <head>
    <title>TuistLab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= vite_legacy_typescript_tag 'application' %>
  </body>
</html>
