<%= stylesheet_link_tag 'tailwind' %>
<%= stylesheet_link_tag 'app' %>

<%- @omniauth_providers = [] %>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%-
    case provider
    when :github
      logo = "github_logo"
    else
      puts "Unrecognized omniauth provider #{provider}"
    end
    @omniauth_providers.push(
        {
          id: provider,
          title: OmniAuth::Utils.camelize(provider),
          link: omniauth_authorize_path(resource_name, provider),
          logo: "github_logo"
        }
    )
    %>
  <% end %>
<% end %>

<section class=" bg-gray-900">
  <div class="flex-col flex items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a
      href="/"
      class="flex items-center space-x-4 mb-6 text-2xl font-semibold text-white"
    >
      <%= svg('tuist_cloud_logo', class: "w-8") %>
      <div>Tuist Cloud</div>
    </a>
    <div class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-white">
          Welcome
        </h1>
        <p class="text-gray-300 text-sm">
          Using Tuist Cloud requires authentication. Use any of the providers below to authenticate.
        </p>
        <% @omniauth_providers.each do |omniauth_provider| %>
        <a
          href="<%= omniauth_provider[:link] %>"
          data-method="post"
          class="btn-primary"
        >
          <% if omniauth_provider[:id] == :github %>
            <%= svg(omniauth_provider[:logo], class: "w-5 h-5 object-contain fill-white") %>
          <% elsif omniauth_provider[:id] == :okta %>
            <svg viewBox="0 0 400 134.7" class="w-10 h-5 object-contain fill-white">
              <g>
                <g>
                  <g>
                    <path class="st0" d="M50.3,33.8C22.5,33.8,0,56.3,0,84.1s22.5,50.3,50.3,50.3s50.3-22.5,50.3-50.3S78.1,33.8,50.3,33.8z      M50.3,109.3c-13.9,0-25.2-11.3-25.2-25.2s11.3-25.2,25.2-25.2s25.2,11.3,25.2,25.2S64.2,109.3,50.3,109.3z"/>
                  </g>
                  <path class="st0" d="M138.7,101c0-4,4.8-5.9,7.6-3.1c12.6,12.8,33.4,34.8,33.5,34.9c0.3,0.3,0.6,0.8,1.8,1.2    c0.5,0.2,1.3,0.2,2.2,0.2l22.7,0c4.1,0,5.3-4.7,3.4-7.1l-37.6-38.5l-2-2c-4.3-5.1-3.8-7.1,1.1-12.3L201.2,41c1.9-2.4,0.7-7-3.5-7    h-20.6c-0.8,0-1.4,0-2,0.2c-1.2,0.4-1.7,0.8-2,1.2c-0.1,0.1-16.6,17.9-26.8,28.8c-2.8,3-7.8,1-7.8-3.1l0-57.1c0-2.9-2.4-4-4.3-4    h-16.8c-2.9,0-4.3,1.9-4.3,3.6v126.6c0,2.9,2.4,3.7,4.4,3.7h16.8c2.6,0,4.3-1.9,4.3-3.8v-1.3V101z"/>
                  <path class="st0" d="M275.9,129.6l-1.8-16.8c-0.2-2.3-2.4-3.9-4.7-3.5c-1.3,0.2-2.6,0.3-3.9,0.3c-13.4,0-24.3-10.5-25.1-23.8    c0-0.4,0-0.9,0-1.4V63.8c0-2.7,2-4.9,4.7-4.9l22.5,0c1.6,0,4-1.4,4-4.3V38.7c0-3.1-2-4.7-3.8-4.7h-22.7c-2.6,0-4.7-1.9-4.8-4.5    l0-25.5c0-1.6-1.2-4-4.3-4h-16.7c-2.1,0-4.1,1.3-4.1,3.9c0,0,0,81.5,0,81.9c0.7,27.2,23,48.9,50.3,48.9c2.3,0,4.5-0.2,6.7-0.5    C274.6,133.9,276.2,131.9,275.9,129.6z"/>
                </g>
                <g>
                  <path class="st0" d="M397.1,108.5c-14.2,0-16.4-5.1-16.4-24.2c0-0.1,0-0.1,0-0.2l0-45.9c0-1.6-1.2-4.3-4.4-4.3h-16.8    c-2.1,0-4.4,1.7-4.4,4.3l0,2.1c-7.3-4.2-15.8-6.6-24.8-6.6c-27.8,0-50.3,22.5-50.3,50.3c0,27.8,22.5,50.3,50.3,50.3    c12.5,0,23.9-4.6,32.7-12.1c4.7,7.2,12.3,12,24.2,12.1c2,0,12.8,0.4,12.8-4.7v-17.9C400,110.2,398.8,108.5,397.1,108.5z     M330.4,109.3c-13.9,0-25.2-11.3-25.2-25.2c0-13.9,11.3-25.2,25.2-25.2c13.9,0,25.2,11.3,25.2,25.2    C355.5,98,344.2,109.3,330.4,109.3z"/>
                </g>
              </g>
              </svg>
          <% end %>
          <span>
            <%= "Sign in with #{omniauth_provider[:title]}" %>
          </span>
        </a>
        <% end %>

        <% if !Environment.self_hosted? %>
          <div class="relative">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t" />
            </div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-gray-800 text-gray-300 font-medium">
              or
            </span>
          </div>
        </div>
        <%= form_with model: resource, as: resource_name, url: session_path(resource_name) do |f| %>
          <div class="mb-4">
            <label for="email" class="block text-sm text-white font-medium mb-2">
              Email
            </label>
            <%= f.text_field :email, class: "form-control input-primary", placeholder: "you@example.com" %>
          </div>
          <div class="mb-4">
            <label for="password" class="block text-sm text-white font-medium mb-2">
              Password
            </label>
            <%= f.password_field :password, class: "form-control input-primary", placeholder: "Enter your password" %>
          </div>
          <%= render "devise/shared/error_messages", resource: resource %>
          <% if alert.present? %>
            <div class="w-full flex flex-col items-start text-white focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 my-4 text-center bg-red-600" role="alert">
              <%= alert %>
            </div>
          <% end %>
          <div class="mb-6">
            <% if alert.present? %>
            <p>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-white" %>
            </p>
            <p>
              <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-white" %>
            </p>
            <% end %>
            <p class="text-gray-300">
            Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name), class: "text-white" %>
            </p>
          </div>
        <button
          class="btn-primary"
          type="submit"
        >
          <%= f.submit "Sign in" %>
        </button>
      <% end %>
      <% end %>
    </div>
  </div>
</section>
